<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
	span {
		display: inline-block;
		width: 200px;
		text-align: left;
	}
</style>
</head>
<body>
	<div align="center">
		<h2>Please review your cart!</h2>
		<div align="center">
		<h2>Your Information</h2>
		<span>Full name:</span><span th:text="${user.name}"></span><br/>
		<span>E-mail:</span><span th:text="${user.email}"></span><br/>
		<span>PhoneNumber:</span><span th:text="${user.phone}"></span><br/>	
		<span>Cost:</span><span th:text="${user.cost}"></span><br/>	
		<a href="confirm">Click here to confirm your account</a>
		
</div>
		
	</div>
	
	

</body>
</html>